
{% extends "layout.html" %}

{% block pageTitle %}
  SCE Customer Experiments
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        SCE Customer Experiments
        <span class="govuk-caption-m">Based on brief as on June 2021</span>
      </h1>


      <p>
        The current hypothesis is that a single cloud based digital service, could meet user needs by allowing them to self-serve information about multiple benefits in one place.       </p>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-top-3" >
    <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
        <h1 class="govuk-heading-m"><a href="e-one/start">Experiment 1 </a>  </h1>


        <strong class="govuk-tag govuk-tag govuk-tag--red">
          Experimental
        </strong>
        <br><br>
        <p>Initial conceptual prototype to explore assumptions:  </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>It is more convenient for a user to self-serve than wait in a telephone queue </li>
          <li>That multi-benefit users would benefit from finding information in one place </li>
        </ul>
        <p></p>

    </div>



  </div>


      <div class="govuk-grid-row govuk-!-margin-top-3" >
        <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
            <h1 class="govuk-heading-m"><a href="e-two/information-channels">Experiment 2 </a>  </h1>


            <strong class="govuk-tag govuk-tag govuk-tag--red">
              experimental
            </strong>
            <br><br>
            <p>Iteration of initial conceptual prototype </p>
            <!-- <ul class="govuk-list govuk-list--bullet">
              <li>It is convinient to self-serve than wait in long phone queue </li>
              <li>That users from multi-benefits would benefit from using information at a place.</li>
            </ul> -->
            <p></p>

        </div>
      </div>


            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
                  <h1 class="govuk-heading-m"><a href="e-three/start">Experiment 3  </a>  </h1>


                  <strong class="govuk-tag govuk-tag govuk-tag--red">
                    experimental
                  </strong>
                  <br><br>
                  <p>Conceptual prototype to test hypothesis </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>User needs of a citizen with multiple benefits can be met with by individual benefits
</li>
                  </ul>
                  <p></p>

              </div>
            </div>
{% endblock %}
